body{
	margin:0px;
	padding: 0px;
}
/*header start*/
header{
	background-color:#121B2A;

}
.container{
	width: 75%;
	margin:0 auto;
	/*border:1px solid red;*/
	overflow:hidden;   
}
.logo{
	margin:8px; 
	width: 12%;
	/*border:1px solid red;*/
	float:left; 
}
.logo img{
	width: 100%;
}
.menu{
	margin-top: 30px;
	width:60%;
	/*border:1px solid red;*/
	float:right;   
}
.menu ul{
	list-style-type: none;
	float:right; 
}
.menu ul li{
	float:left;

}
.menu ul li a {
    margin: 0 26px;
    padding: 0 11px;
	text-decoration: none;
	font-family:sans-serif;
	font-size:14px;
	color:white;
	display: inline-block; 
	transition: .3s;
	text-transform: uppercase;

}
.menu ul li a:hover{
	color:#0178BC; 
}

.menu ul li:last-child a{
	margin-right: 0px;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../image/banner.jpg);
	background-repeat:no-repeat;
	background-size:cover; 
	background-position:center;
	box-shadow: 0px -5px 3px -2px rgba(0,0,0,0.5);
	
}
.text{
	margin-top: 250px;
	/*border:1px solid red;*/
	width: 35%;
	margin-bottom: 150px;
}
.text h2{
	margin: 0px;
    font-size: 28px;
	font-family:sans-serif;
	font-weight: 300;
    color:white;
    
    

}
.text h1{
	font-size: 34px;
    font-family: sans-serif;
    color: #0178BC;
    text-transform: uppercase;
    margin: 0px;
}
.text p{
	margin: 0px;
	font-family: sans-serif;
    color: white;
    text-transform: lowercase;
    line-height: 22px;
}
.text button{
	margin-top: 20px;
	font-family: sans-serif;
    font-size: 28px;
    font-weight: 500;
    width: 225px;
    height: 40px;
    background: white;
    color:#707070;
    cursor: pointer;
    transition: .3s;
    border: none;

}
.text button:hover{
	background-color:#121B2A;
	} 


/*banner end*/

/*service start*/
.service{
	background-color: #121B2C;
	box-shadow: 0px -5px 3px -2px rgba(0,0,0,0.5);
}
.item{
	 float: left;
    width: 25%;
    /*border: 1px solid red;*/
    margin: 50px 25px;
    padding: 0 32px;
}
.item img{
	float: left;
    width: 20%;
    margin-top: 16px;
}
.item h1{
	font-family: sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: white;
    padding: 0px;
    margin: 0px;
    margin-top: 40px
   
}
.item h2{
	
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #0178BC;
    


}
   
.item p{
	float: left;
	font-family: sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing:1px;
    line-height: 22px;
	


}
/*service end*/

/*service2 start*/
.service2{
	background-color: #040811;
	
}
.item2{
	 float: left;
    width: 22%;
    /*border: 1px solid red;*/
    margin: 50px 25px;
    padding: 0 32px;
}

.item2 h1{
	font-family: sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: white;
    padding: 0px;
    margin: 0px;
    float:left;
    
   
}
.item2 h2{
	
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #0178BC;
    float: left;
    margin-left: 5px;

 }
   
.item2 p{
	display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0px;
    margin-top: 10px;

}
	
.item2 img{
	float: left;
    width: 45%;
    margin-top:8px;
}

/*service2 end*/


/*footer start*/
.footer{
	background-color: #121B2C;
}
.menu1{
	margin-top: 20px;
	width:60%;
	/*border:1px solid red;*/
	float:left; 
}
.menu1 ul {
	list-style-type: none;
	float:right; 
}
.menu1 ul li{
	float:left;
	color: white;
}
.menu1 ul li a{
	margin: 0px 15px;
    padding: 0px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    display: inline-block;
    text-transform: uppercase
}
.menu1 ul li:last-child a{
	margin-right: 0px;
}
.menu1 p{
	color:white;
	margin: 0 80px;
}
.image{
	float: right;
}
.image img{
	margin: 0px 15px;
    padding: 0px 16px;
    margin-top: 20px;
}

/*footer end*/
